# Build artifacts
Pangaea/Binaries/
Pangaea/Build/

# Intermediate files
Pangaea/Intermediate/

# Saved data
Pangaea/Saved/
Pangaea/DerivedDataCache/

# Generated project files (Visual Studio, XCode, etc.)
*.sln
*.suo
*.user
*.vcxproj
*.xcworkspace
*.xcodeproj


# Temporary files
*.tmp
*.log
*.bak

# Platform-specific files
.DS_Store
Thumbs.db
